<head>
  <title>digitalcardsreact</title>
</head>
<style>
  #login{
    text-align: center;
    margin-top: 20%;
  }
  #login>button{
    background: #b4b4f5;
    border: none;
    width: 19%;
    border-radius: 4px;
    height: 21px;
  }
</style>
<body>

</body>
