.strix{
    text-align: center;
    margin-top: 19%;
    background: #34869e;
    border-radius: 4px;
    padding: 51px;
}

.btn{
    background: wheat;
    width: 38%;
    min-height: 36px;
    border: none;
    border-radius: 6px;
    text-shadow: none !important;
}

.float_menu{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 98%;
    text-align: center;
    padding: 10px;
    background: #97c9d8;
    color: black;
}

.createTask{
    border: solid;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}